[Unit]

Description=homarr
After=network-online.target
Wants=network-online.target
Before=shutdown.target

[Container]
AutoUpdate=registry
Image=ghcr.io/ajnart/homarr:latest
PublishPort=7575:7575
Network=podman1
Volume=/home/yilibingtang/ProgramData/Podman/homarr/configs:/app/data/configs:Z
Volume=/home/yilibingtang/ProgramData/Podman/homarr/icons:/app/public/icons:Z
Volume=/home/yilibingtang/ProgramData/Podman/homarr/data:/data:Z
Volume=/run/podman/podman.sock:/var/run/docker.sock:z
Volume=/home/yilibingtang/ProgramData/Podman/homarr/img:/app/public/img:Z
[Service]
Restart=always

[Install]
WantedBy=default.target