[Unit]
Description=qbittorrent
After=network-online.target
Wants=network-online.target
Before=shutdown.target

[Container]
AutoUpdate=registry
Image=lscr.io/linuxserver/qbittorrent:latest
Network=host

Volume=/mnt/shiguangwu/离线下载:/downloads/shiguangwu:z
Volume=/home/yilibingtang/ProgramData/Podman/qbittorrent/config:/config:Z

Environment=PUID=1000
Environment=PGID=1000
Environment=TZ=Asia/Shanghai

Environment=WEBUI_PORT=40032
Environment=TORRENTING_PORT=6881

PodmanArgs=--privileged

[Service]
Restart=always

[Install]
WantedBy=default.target
