[Unit]
Description=hlink
After=network-online.target
Wants=network-online.target
Before=shutdown.target

[Container]
AutoUpdate=registry
Image=docker.io/likun7981/hlink:latest

PublishPort=40045:9090
Network=podman1

Volume=/mnt/shiguangwu/离线下载:/share/disk/shiguangwu:z
Volume=/home/yilibingtang/ProgramData/Podman/hlink/data:/share/data/hlinkDocker:Z

Environment=HLINK_HOME=/share/data/hlinkDocker

PodmanArgs=--privileged

[Service]
Restart=always

[Install]
WantedBy=default.target
