[Unit]
Description=SakuraFrp
After=network-online.target
Wants=network-online.target
Before=shutdown.target

[Container]
AutoUpdate=registry
Image=ghcr.io/natfrp/launcher:latest
Network=host

Environment=NATFRP_TOKEN=v5ytasa5rcpygflid3lhb4ryz0kp5fco
Environment=NATFRP_REMOTE=xcp727499

[Service]
Restart=always

[Install]
WantedBy=default.target
