[Unit]
Description=cookiecloud-app
After=network-online.target
Wants=network-online.target
Before=shutdown.target

[Container]
AutoUpdate=registry
Image=docker.io/easychen/cookiecloud:latest
PublishPort=8088:8088
Network=podman1

Volume=/home/yilibingtang/ProgramData/Podman/cookiecloud/data:/data/api/data:Z

[Service]
Restart=always

[Install]
WantedBy=default.target