[Unit]
Description=zfile
After=network-online.target
Wants=network-online.target
Before=shutdown.target

[Container]
AutoUpdate=registry
Image=docker.io/zhaojun1998/zfile:latest

PublishPort=40033:8080
Network=podman1

Volume=/mnt/shiguangwu/离线下载:/data/file:z
Volume=/home/yilibingtang/ProgramData/Podman/zfile/logs:/root/.zfile-v4/logs:Z
Volume=/home/yilibingtang/ProgramData/Podman/zfile/db:/root/.zfile-v4/db:Z

PodmanArgs=--privileged

[Service]
Restart=always

[Install]
WantedBy=default.target
