[Unit]
Description=trilium-cn
After=network-online.target
Wants=network-online.target
Before=shutdown.target

[Container]
AutoUpdate=registry
Image=docker.io/nriver/trilium-cn:latest
Network=podman1
PublishPort=50023:8080
Volume=/home/yilibingtang/ProgramData/Podman/Trilium/trilium-data:/root/trilium-data:Z

Environment=TRILIUM_DATA_DIR=/root/trilium-data

[Service]
Restart=always

[Install]
WantedBy=default.target
